@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background: #1b2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;      /* 100vh/ 100vw significa 100% de altura em relação a viewport, que é o tamanho total da tela   */
    min-width: 100vw ;
} 

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #8880fe;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

main.social-media  {
    display: flex;
    align-content: center;
}

main.social-media a {
    text-decoration: none;
}


main.social-media img {
    margin-left: 3rem;
}

main .social-media a:first-child img {
    margin-left: 0; 
    /* O comando ':first-child' vai escolher o primeiro filho do pai 'Social media', que no caso é a img do google > Nesse form não foi utilizado pois trouxe uma imagem já renderizada, mas deixei o comando para aprendizado*/
}

main .alternative {
    margin-top: 1rem;
}

main .alternative {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}


/* Linhas  Laterais do "OR" */
main .alternative span::before, main .alternative span::after{ 
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after{
    left: 50px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main label {
    display: flex;
    flex-direction: column;
    /* Colocando a caixa do Input alinhada */
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: #161923;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none; /*Linha de borda quando clica no input*/
    color: rgb(166,166,166);
    font-size: 1rem;
    border: 1px solid #040b18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #6c63ff;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: #5952d4;
}

section.images {
    width: 50vw;
    display: flex;
    align-items: flex-end; /* Alinhou o Elemento, alinhando no final do container, ou seja, em baixo */
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 100%;
}

section.images .circle{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    /* Colocando o circulo, primeiramente na página inteira, antes de recortar no formato  */
    background: linear-gradient(45deg, #e8cbc0, #636fa4); /* Colocando a gradiente no circulo */
    clip-path: circle(40% at right 80%); /*Recortando o elemento em formato de circulo, tomanho de x%  - a direita, a x%*/
    z-index: -1; /* Eixo Z, Coloca o elemento na camada -1, ou seja, abaixo das demais (Lembrando que funciona somente com elementos que tenham propriedade POSITION ) */
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110% ;
    }
    section.images .circle {
        clip-path: circle(35% at right 80%); 
    }
}

@media only screen and (max-width: 900px){
    section.images  {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450){
    main h1 {
        font-size: 2rem;
    }
    main .alternative span {
        font-size: 0.8rem;
    }
    main form labem span, main form input[type="submit"] {
        font-size: 1rem;
    }
}